<h1><%= t ".about"%></h1>
<p>
  <%= t ".the"%> <a href=<%= t(".linkRails")%>><em><%= t ".name"%> 
  <a href=<%= t(".linkRailsBook")%>><%= t ".book"%></a> <%= t ".and"%>
  <a href=<%= t(".linkSeriesRails")%>><%= t ".series"%></a>
  <%= t ".to"%>
  <a href=<%= t(".linkRuby")%>><%= t ".name2"%></a>.
  <%= t ".this"%>
</p>
