<footer class="footer">
  <small>
    <%= t "layout._footer.the" %> <a href="http://www.railstutorial.org/"><%= t "layout._footer.name" %></a>
    <%= t "layout._footer.by" %> <a href="http://www.michaelhartl.com/"><%= t "layout._footer.author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout._footer.about"), about_path %></li>
      <li><%= link_to t("layout._footer.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "layout._footer.news" %></a></li>
    </ul>
  </nav>
</footer>
